PORT=5000
MONGODB_URI=mongodb+srv://YOUR_USERNAME:YOUR_PASSWORD@YOUR_CLUSTER.mongodb.net/alpha_book_store?retryWrites=true&w=majority
JWT_SECRET=replace_with_long_random_secret
ADMIN_EMAIL=demiroski@webalpha.com
ADMIN_PASSWORD=12345
ADMIN_NAME=Demiroski
FRONTEND_URL=http://localhost:3000
